$baseColor: #333;

$themeColor: #1890FF;
//saturate($color,$amount)：通过改变颜色的饱和度值，让颜色更饱和，从而创建一个新的颜色
// desaturate($color,$amount)：通过改变颜色的饱和度值，让颜色更少的饱和，从而创建出一个新的颜色；
$themeColorLight: lighten($themeColor, 8%);
$themeColorDark: desaturate(darken(#1890FF, 10%), 8%);



$radius: 4px;

$smallHeight: 24px;

$baseHeight: 32px;

$largeHeight: 40px;



$smallPadding: 8px;
$basePadding: 16px;
$largePadding: 16px;