@import "./config.scss";

html{
    -webkit-font-smoothing: antialiased;
}

body{
    font-size: 14px;
    color:$baseColor;
}

body,p,ul,h1,h2,h3,h4{
    padding:0;
    margin:0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}